body {
    background: #070707;
    color: #cacaca;
    margin: 0;
    font-family: Courier New, Courier, monospace;
    display: block;
}

.content {
    max-width: 40em;
    margin: auto;
    padding: .25em;
    a {
        color: #2c9b9f
    }
    h1 {
        text-align: center;
        font-size: 2em;
    }
    h2 {
        border-bottom: 2px solid #2c9b9f;
    }
    h3 {
        margin-bottom: 0;
    }
}

.empty-divider {
    margin: 5em;
}